<div class="login-page">

  <h1 class="welcome-title">Bienvenido a Banco Suquia</h1>
  
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <h2>Login</h2>
  
      <label for="cardNumber">Número de Tarjeta</label>
<input
  id="cardNumber"
  type="text"
  formControlName="cardNumber"
  maxlength="16"
  placeholder="Ingrese su número de tarjeta"
/>
<div *ngIf="loginForm.get('cardNumber')?.invalid && loginForm.get('cardNumber')?.touched" class="error">
  <p *ngIf="loginForm.get('cardNumber')?.errors?.['required']">El número es obligatorio.</p>
</div>

<label for="pin">PIN</label>
<input
  id="pin"
  type="password"
  formControlName="pin"
  maxlength="4"
  placeholder="Ingrese su PIN"
/>
<div *ngIf="loginForm.get('pin')?.invalid && loginForm.get('pin')?.touched" class="error">
  <p *ngIf="loginForm.get('pin')?.errors?.['required']">El PIN es obligatorio.</p>
</div>

      
      <div *ngIf="errorMessage" class="error">
        <p>{{ errorMessage }}</p>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid || isLoading">
        {{ isLoading ? 'Cargando...' : 'Iniciar Sesión' }}
      </button>
    </form>
  </div>

</div>