<div class="transaction-container">
    <h1 class="transfer-title">Listado de Transferencias</h1>
  
    <div class="top-bar">
      <!-- Botón de nueva transferencia -->
      <div class="button-container">
        <button class="btn" [routerLink]="['/newTransaction']">Nueva Transferencia</button>
      </div>
    
      <!-- Filtro por mes -->
      <div class="filter-container">
        <label for="month">Filtrar por mes:</label>
        <select id="month" [(ngModel)]="selectedMonth" (change)="loadTransactions()" class="month-select">
          <option *ngFor="let m of months" [value]="m.value">{{ m.name }}</option>
        </select>
      </div>
    </div>
    
  
    <!-- Tabla de transacciones -->
    <div class="table-container">
      <table class="transaction-table">
        <thead>
          <tr>
            <th>Destino</th>
            <th>Monto</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.destinyCard }} - {{ transaction.nameDestinyCard }}</td>
            <td [class.credit]="transaction.credit">{{ transaction.amount | currency:'USD' }}</td>
            <td>{{ transaction.dateTime | date:'MM/dd/yy, HH:mm' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  