
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.chart-container {
    position: relative;
    height: 300px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  

  
  /* Opcional: para asegurar que la fuente se aplique globalmente */
  :host {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  }

  